body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Azul clarito */
    text-align: center;
    color: #333;
}

header {
    background: #ff4d4d; /* Rojo pasión */
    color: white;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.foto-placeholder img {
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
}
